*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color:rgb(255, 240, 250);
    text-align: center;
    line-height: 2.2; 
}

.hero{
    padding: 20px 10px; 
}

.hero img{
    border-radius: 50%;
    margin-bottom: 10px;
}

.section h2{
    font-size: 30px;
}

.hero h2{
    font-size: 35px;
}

.accent{
    color:rgb(0, 0, 0);
}

.grid {
    display: flex;
    gap: 15px; 
 justify-content: center;
 flex-wrap: wrap;
}

.grid div{
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(226, 43, 189);
    width: 100px;
}


@media (max-width: 768px){
    body{background-color: rgb(196, 213, 255);}
}